@import url('https://fonts.googleapis.com/css2?family=Unkempt&family=Love+Ya+Like+A+Sister&display=swap');

.critters-container {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.critter-ideas {
    transition: 0.1s;
    background-color: transparent;
    border: none;
    outline: none;
}

.critter-ideas:hover {
    cursor: pointer;
    scale: 1.1;
}


.critter-idea-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    outline: none;

    height: 192px;
    width: 192px;
}

.critter-idea-imgs {
    background-color: transparent;
    outline: inherit;
    height: 100%;
    width: 100%;
    object-fit: cover;
    pointer-events: none;
}

.critter-idea-completed {
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    outline: inherit;
    height: 100%;
    width: 100%;
    object-fit: cover;
    pointer-events: none;
}

.bob-animation {
    animation: bob 0.7s ease-in-out infinite;
}

@keyframes bob {

    0%,
    100% {
        transform: translateY(0);
        /* transform: rotateY(180deg); */
    }

    50% {
        transform: translateY(5px);
        /* transform: rotateY(0deg); */
    }

}


.critter-idea-desc {
    position: absolute;
    z-index: -1;
    bottom: -10px;

    background-color: #FFF8E7;
    padding: 7px 15px;
    border-radius: 20px;
    max-width: 80px;
}

.critter-idea-desc span {
    font-family: 'Unkempt',
        cursive;
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}